<div class="container">

    <!--APUNTE NRO 1-->
    <div class="row apunte">
        Transformación lineal
    </div>
    <div class="row utilidad">El concepto de la transformación lineal es elemental en las areas de la física y de la
        ingenieria que estudien sistemas. Entre sus aplicaciones directas se encuentra: la teoría de circuitos, la
        física cuántica, la relatividad general y la ingenieria mecánica. Cualquier definición es corta ante la magnitud
        de su rango de aplicaciones.</div>
    <div class="clearfix contenido">
        <img src="images/apunte1.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

        <p>
            En matemáticas, una aplicación lineal es una aplicación entre dos espacios vectoriales, que preserva las
            operaciones de adición de vectores y multiplicación por un escalar.

            En álgebra abstracta, álgebra lineal y análisis funcional una aplicación lineal es un homomorfismo entre
            espacios vectoriales; que en el lenguaje de la teoría de categorías es un morfismo sobre la categoría de los
            espacios vectoriales que actúa un cuerpo dado.
        </p>
        <p>Se puede observar que en la figura de la derecha que los coeficientes salen de las transformación lineal L y
            a su vez, los vectores X e Y también son transformados individualmente. Demostrar que una transformación sea
            lineal es demostrar esto último siempre estemos hablando de vectores en un espacio vectorial.</p>
    </div>

    <!--APUNTE NRO 2-->
    <div class="row apunte">
        Métrica de Schwarzschild
    </div>
    <div class="row utilidad">
        La metrica de Schwarzschild es un elemento fundamental en la astrofísica. Tiene principalmente utilidad casi exclusiva en el contexto de la susodicha área.
    </div>
    <div class="clearfix contenido">
        <img src="images/apunte2.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

        <p>
            En este ejemplo se observa la métrica de Schwarzschild en coordenadas esféricas. Es una solución exacta a la ecuación de Einstein en el vacío y como tal es única, ya que no existe otra solución en coordenadas esféricas a la ecuación de Einstein en condiciones estáticas, es decir, donde ninguno de los coeficientes depende del tiempo. 
        </p>
        <p>
            Esta ecuación es idealizada ya que ningun cuerpo celeste es realmente perfectamente esférico y además solo puede describir como se deforman el espacio y el tiempo en regiones donde no hay materia. Es de gran importancia ya que fue a través de la misma que se logró calcular como la gravedad curvaba el paso de la luz. En su debut y para confirmar la teoría de la relatividad general se utilizó para describir la precesión elíptica de Mercurio y cómo se alteraba la energía de los fotones segun salieran o entraran de un objeto gravitatorio. 
        </p>
    </div>
    <!--APUNTE NRO 3-->
    <div class="row apunte">
        Tensor de Riemann
    </div>
    <div class="row utilidad">El tensor de Rienmann se usa en la Relatividad General para relacionar el espacio y el tiempo y su deformación geométrica.</div>
    <div class="clearfix contenido">
        <img src="images/apunte3.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

        <p>
           En geometría diferencial, el tensor de curvatura de Riemann, o simplemente tensor de curvatura o tensor de Riemann, supone una generalización del concepto de curvatura de Gauss, definido para superficies, a variedades de dimensiones arbitrarias. Representa una medida de la separación de la métrica de la variedad respecto de la métrica euclídea.
        </p>
        <p>En criollo y en el contexto de la Relatividad General, el área de interés en la astrofísica, es una medida de como se deforma el espacio y el tiempo. Tiene como variable a la metrica, la medida más directa de la deformación. Relaciona la masa de un objeto que produce la gravitación y la métrica o en otras palabras, como se deforma el espacio-tiempo en presencia de materia.</p>
    </div>
</div>