<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 off-lg-2">
            <p>Bienvenidos a</p>
            <h1>Astromedia</h1>
            <p>Este es un hub de novedades de ciencia y tecnología. Principalmente en lo que hace a las novedades en el campo de la Astronomia y Astrofísca.</p>
        </div>
    </div>
</div>